<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script defer src="js/all.js"></script>
    <title>Title</title>
</head>
<body>
<header>
    <div>&#9819; Amazing Checkmates</div>
    <div>
        <div class="burger"></div>
        <div class="burger2"></div>
        <div class="burger3"></div>
    </div>
</header>
    <main>
        <section class="headSection">
            <img src="alcoman.jpg">
            <div class="right">
                <h3>Alexander Sourman</h3>
                <div id="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div id="info">
                    <div>Played games: 168</div>
                    <div>Won: 160</div>
                </div>
            </div>
        </section>
        <section class="buttons">
            <div class="button">New game</div>
            <div class="button">Load game</div>
            <div class="button">Settings</div>
        </section>
    </main>
</body>
</html>
