<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="profile.css">
    <script defer src="js/all.js"></script>
    <title>Title</title>
</head>
<body>
<header>
    <div>&#9819; Amazing Checkmates</div>
    <div>
        <div class="burger"></div>
        <div class="burger2"></div>
        <div class="burger3"></div>
    </div>
</header>
    <main>
        <section>
            <img src="alcoman.jpg">
            <div>
                <h3>Alexander Sourman</h3>
                <div id="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div>
                <div>Played games: 168</div>
            </div>
        </section>
    </main>
</body>
</html>
