header {
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    color: white;
    align-items: center;
    height: 40px;
    padding: 0px 32px;
    font-weight: 600;
}
.card input {
    border: none;
    width: 180px;
    text-overflow: ellipsis;
    font-size: 16px;
}
textarea {
    resize: none;
    width: 100%;
    border: none;
    font-size: 16px;
    font-family: "Times New Roman";
}
header .button {
    height: 40px;
    background-color: black;
    box-sizing: border-box;
    border-bottom: blue 2px solid;
    position: relative;
    top: 2px;
}
.controls {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    justify-content: center;
    align-items: center;
}
body {
    margin: 0px;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    padding: 16px;
    justify-content: center;
    justify-items: center;
}
h4 {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}
main > div {
    display: grid;
    grid-gap: 16px;
    border: 1px black solid;
    width: 100%;
    justify-items: center;
    padding: 32px;
    box-sizing: border-box;
}
.card {
    border: 1px solid;
    display: grid;
    grid-gap: 48px;
    padding: 16px;
    max-width: 240px;
}
.button {
    background-color: yellow;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
